body {
	background-color: black;
	color: white;
	font-family: Arial;
	margin: 2em;
}

#ital {
	font-style: italic;
	text-align: center;
	color : gold;
}

#me {
	text-align: center;
}

table {
	border: solid 1px white;
	margin : 2em;
}

table td{
	border : solid 1px white;
}

#lien{
	display : flex;
	margin-left : 5em;
	justify-content: space-between;
	margin: auto;
}

#rep {
	color: gold;
}

a:hover{
	color: gold;
}